//#region black

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-BlackNarrow.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-BlackWide.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

//#endregion

//#region bold

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-BoldNarrow.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-BoldWide.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

//#endregion

//#region extrabold

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-ExtraBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-ExtraBoldNarrow.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-ExtraBoldWide.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

//#endregion

//#region semibold

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-SemiboldNarrow.otf") format("opentype");
  font-weight: 500;
  font-style: extrabold;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-SemiboldWide.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

//#endregion

//#region medium

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-MediumNarrow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-MediumWide.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

//#endregion

//#region regular

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-RegularNarrow.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-RegularWide.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

//#endregion

//#region light

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-LightNarrow.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-LightWide.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

//#endregion

//#region ultralight

@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-UltraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-UltraLightNarrow.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("../../public/fonts/Mona-Sans-UltraLightWide.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

//#endregion

//   @font-face {
//     font-family: 'Mona-Sans';
//     src: url('/fonts/Mona-Sans-italic.woff2') format('woff2');
//     font-weight: normal;
//     font-style: italic;
//   }
