// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import './variables.scss';

// Breakpoints
@mixin afterMaxWidth() {
  @media (min-width: (1300px)) {
    @content;
  }
}
@mixin smallLaptop() {
  @media (max-width: (1200px)) {
    @content;
  }
}
@mixin bigTablet() {
  @media (max-width: (900px)) {
    @content;
  }
}
@mixin tablet() {
  @media (max-width: (768px)) {
    @content;
  }
}
@mixin bigMobilePhone() {
  @media (max-width: (520px)) {
    @content;
  }
}
@mixin smallmobilePhone() {
  @media (max-width: (370px)) {
    @content;
  }
}

@mixin sectionPadding {
  padding: $padding-desktop;
  padding-top: 96px;
  padding-bottom: 40px;
  @media screen and (min-width: 1300px) {
    padding: 0px 16%;
    padding-top: 48px;
    padding-bottom: 24px;
  }
  @include tablet() {
    // padding: $padding-mobile;
    padding: 16px;
    padding-top: 96px;
    padding-bottom: 40px;
  }
}

// Animation
@keyframes slideLeft {
  from {
    left: -100%;
    opacity: 0;
  }
}
@keyframes slideLeftOut {
  0% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
    display: none;
  }
}
@keyframes slideRight {
  from {
    right: -100%;
    opacity: 0;
  }
}

// Buttons
@mixin big-button {
  border-radius: 32px;
  cursor: pointer;
  font-size: $font-size-16 - 2px;
  padding: 0.8rem 1.1rem;
  border: none;
  background-color: $primary-color;
  color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  width: max-content;
  min-width: max-content;
  height: fit-content;
  max-height: 36px;
  transition: all 300ms ease;
  svg {
    opacity: 1;
    color: #fff;
    width: 12px;
    path {
      fill: #fff;
    }
  }

  // &:hover {
  //   gap: 16px;
  //   svg {
  //     opacity: 1;
  //   }
  // }
}
@mixin medium-button {
  width: fit-content;
  border-radius: 50px;
  cursor: pointer;
  font-size: $font-size-16 - 2px;
  padding: 0.8rem 1.1rem;
  border: none;
  background-color: $primary-color;
  color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 300ms ease;
  svg {
    opacity: 1;
    color: #fff;
    width: 12px;
    path {
      fill: #fff;
    }
  }

  // &:hover {
  //   gap: 16px;
  //   svg {
  //     opacity: 1;
  //   }
  // }
}
@mixin small-button {
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-size: $font-size-16 - 2px;
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: $primary-color;
  color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 300ms ease;
  svg {
    opacity: 1;
    color: #fff;
    width: 12px;
    path {
      fill: #fff;
    }
  }

  // &:hover {
  //   // gap: 12px;
  //   svg {
  //     opacity: 1;
  //   }
  // }
}

// Input field
@mixin input {
  width: fit-content;
  border-radius: 50px;
  font-size: $font-size-16 - 2px;
  padding: 0.8rem 1.1rem;
  border: none;
  outline: none;
  background-color: $white;
  &::placeholder {
    color: $grey-bg;
  }
}

@mixin bumpDownAnimation {
  // animation: bumpDown 400ms cubic-bezier(0.91, -0.31, 0.27, 1.55);
  animation: bumpDown 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);

  @keyframes bumpDown {
    from {
      top: 35px;
      opacity: 0;
    }
  }
}

@mixin searchSlideInAnimation {
  // animation: searchSlideIn 400ms cubic-bezier(0.91, -0.31, 0.27, 1.55);
  animation: searchSlideIn 400ms cubic-bezier(0.65, -0.07, 0.25, 1.24);

  @keyframes searchSlideIn {
    from {
      right: -35px;
      opacity: 0;
    }
  }
}

@mixin searchBarDropdown {
  position: absolute;
  right: 0;
  // top: 45px;
  bottom: 44px;
  background-color: $white;
  padding: 8px;
  display: flex;
  // flex-direction: column;
  gap: 6px;
  align-items: center;
  // border: 1px solid #000;
  input {
    padding: 4px;
    outline: none;
    order: 1;
  }
  &__topArea {
    width: fit-content;
    // margin-bottom: 8px;
    // border: 1px solid #000;
    margin-left: auto;
    order: 2;
    svg {
      width: 12px;
      height: 12px;
      path {
        fill: $primary-color;
      }
    }
  }
  &__filterResults,
  &__filterResultsUnavailable {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $white;
    top: 56px;
    left: 0;
    overflow-y: auto;
    max-height: 200px;
    @extend .scrollArea;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 4px;
    }
    p.eachFilterResult {
      font-size: $font-size-16 - 4px;
      margin: 0;
      color: $black;
      background-color: $white;
      width: 100%;
      padding: 10px 8px;
      &:hover {
        background-color: $grey-bg;
        cursor: pointer;
      }
    }
  }
  &__filterResultsUnavailable {
    overflow-x: hidden;
    p {
      font-style: italic;
      font-size: $font-size-16 - 4px;
      color: $failed-color;
      white-space: normal;
    }
  }
  .actionBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 6px;
    button {
      padding: 6px;
      background-color: $primary-color;
      color: $white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border: none;
      outline: none;
      border-radius: 4px;
      font-size: $font-size-16 - 4px;
      font-weight: $fontWeight-300;
      cursor: pointer;
    }
  }
  @include searchSlideInAnimation();
}

@mixin tagStyle {
  font-size: $font-size-16 - 6px;
  padding: 2px 6px;
  border: 1px solid $standard;
  border-radius: 12px;
  color: $standard;
  background-color: lighten($color: $standard, $amount: 50%);
  margin-top: 2px;
  user-select: none;
}

// Input field error message
.errorMsg {
  font-size: 12px;
  color: #eb485b;
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    width: 12px;
    height: 12x;
    display: inline-flex;
    height: fit-content;

    path {
      fill: #eb485b;
    }
  }
}

.container {
  padding: 0 24px;
  // max-width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 528px) {
    padding: 0 16px;
  }
}

.scrollArea {
  &::-webkit-scrollbar-thumb {
    background-color: lighten($color: $primary-color, $amount: 40%);
    border-radius: 0px;
    border: 3px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    @media screen and (max-width: 768px) {
      width: 4px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: rgba($primary-color, 0.2);
  }
}
.scrollAreaMin {
  @extend .scrollArea;
  &::-webkit-scrollbar {
    width: 4px;
    @media screen and (max-width: 768p4) {
      width: 2px;
    }
  }
}

.pageHeader {
  margin-bottom: 40px;
}

.actionArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 40px;
  margin-bottom: 24px;
  // width: 99%;
  // margin: 0 auto;

  button {
    background-color: $primary-color;
    color: $white;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;

    svg {
      display: inline-flex;
      // border: 1px solid #fff;
    }
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.tableSection {
  border-spacing: 4px;
  background-color: $white;
  width: 100%;
  tr {
    padding: 12px;
    th {
      margin-top: 24px;
      text-align: left;
      background-color: $primary-color;
      color: $white;
      white-space: nowrap;
      p,
      .th {
        padding: 12px;
        font-size: $font-size-16 - 2px;
        font-weight: $fontWeight-500;
      }
      .th {
        display: flex;
        align-items: center;
        gap: 24px;
        position: relative;
      }
      span {
        // padding: 12px;
        margin: 0;
        display: grid;
        place-items: center;
        // border: 1px solid #000;
      }
      &.searchIcon {
        // min-width: 40px;
        width: 40px;
        min-width: 40px;
        span {
          // min-width: 24px;
          &:first-child {
            cursor: pointer;
          }
        }
        position: relative;
        // .searchBarDropdown {
        //   position: absolute;
        //   right: 0;
        //   top: 45px;
        //   background-color: $white;
        //   padding: 8px;
        //   display: flex;
        //   flex-direction: column;
        //   input {
        //     padding: 4px;
        //     outline: none;
        //   }
        //   .actionBtn {
        //     display: flex;
        //     align-items: center;
        //     gap: 4px;
        //     margin-top: 6px;
        //     button {
        //       padding: 6px;
        //       background-color: $primary-color;
        //       color: $white;
        //       width: 100%;
        //       display: flex;
        //       align-items: center;
        //       justify-content: center;
        //       gap: 4px;
        //       border: none;
        //       outline: none;
        //       border-radius: 4px;
        //       font-size: $font-size-16 - 4px;
        //       font-weight: $fontWeight-300;
        //       cursor: pointer;
        //     }
        //   }
        //   @include bumpDownAnimation();
        // }
        .searchBarDropdown {
          @include searchBarDropdown();
        }
      }
      .filterArea,
      .inTabSearchIcon {
        span {
          // min-width: 24px;
          &:first-child {
            cursor: pointer;
            width: fit-content;
            margin-left: auto;
            svg {
              width: 14px;
              height: 14px;
              path {
                fill: $primary-color;
              }
            }
          }
        }

        &__filterIcon,
        &__searchIcon {
          cursor: pointer;
          &:hover {
            background-color: lighten($color: $primary-color, $amount: 10%);
          }
        }
        &__dropdown {
          // display: none;
          position: absolute;
          background-color: #f4f8f9;
          width: 100%;
          right: 0;
          top: 44px;
          @include bumpDownAnimation();

          .options {
            display: flex;
            flex-direction: column;
            &__option {
              display: flex;
              align-items: center;
              gap: 8px;
              color: $primary-color;
              position: relative;
              padding: 8px;
              // border: 1px solid;
              p {
                padding: 0px;
              }
              span {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                border: 1px solid $secondary-color;
                background-color: #fff;
              }
              input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
              }
              input[type="checkbox"]:checked ~ .optionIndicator {
                background-color: $secondary-color;
                border: none;
              }
            }
          }
        }
        &__searchDropdown {
          position: absolute;
          background-color: #f4f8f9;
          // border: 1px solid #000;
          width: fit-content;
          left: 0;
          top: 44px;
          padding: 6px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          @include bumpDownAnimation();
          @include searchBarDropdown();

          .searchBarDropdown__filterResults,
          .searchBarDropdown__filterResultsUnavailable {
            position: absolute;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            background-color: $white;
            top: 40px;
            left: 0;
            overflow-y: auto;
            max-height: 200px;
            @extend .scrollArea;
            &::-webkit-scrollbar,
            &::-webkit-scrollbar-thumb {
              width: 4px;
            }
            p.eachFilterResult {
              font-size: $font-size-16 - 4px;
              margin: 0;
              color: $black;
              background-color: $white;
              width: 100%;
              padding: 10px 8px;
              &:hover {
                background-color: $grey-bg;
                cursor: pointer;
              }
            }
          }
          .searchBarDropdown__filterResultsUnavailable {
            overflow-x: hidden;
            // max-height: 200px;
            overflow-y: hidden;
            p {
              font-style: italic;
              font-size: $font-size-16 - 4px;
              color: $failed-color;
              white-space: normal;
            }
          }
        }
      }
    }
    td {
      padding: 8px 12px;
      background-color: $white;
      font-size: $font-size-16 - 4px;
      p {
        font-size: $font-size-16 - 4px;
      }
      .reservationId,
      .paymentReference {
        font-size: $font-size-16 - 2px;
        font-weight: $fontWeight-800;
        max-width: 200px;
      }
      .company {
        // display: flex;
        // align-items: center;
        // gap: 8px;
        &__tag {
          @include tagStyle();
        }
        &__tagPremium {
          @include tagStyle();
          border: 1px solid $premium;
          border-radius: 12px;
          color: $primary-color;
          background-color: lighten($color: $premium, $amount: 45%);
        }
      }
      &.actions {
        button {
          padding: 4px 8px;
          border: 1px solid $primary-color;
          border: none;
          font-size: $font-size-16 - 6px;
          background-color: lighten($color: $primary-color, $amount: 60%);
          border-radius: 8px;
          cursor: pointer;
          position: relative;
          &:first-child {
            margin-right: 8px;
            &:hover {
              background-color: $primary-color;
              color: $white;
            }
          }
          &:nth-child(2) {
            background-color: $peach;
            color: $white;
            &:hover {
              background-color: $failed-color;
            }
          }
        }
        .viewOrder {
          @extend button;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid rgba($primary-color, 0.2);
          background-color: $white;
          min-width: 75px;
          min-height: 24px;
          &:hover {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
  .pricingTable {
    th {
      p,
      .th {
        max-height: 40px;
        font-size: 12px;
        span {
          // width: 60%;
          place-items: start;
          // border: 1px solid #fff;
          white-space: normal;
          font-size: 11px;
          &.filterArea__filterIcon,
          &.inTabSearchIcon__searchIcon {
            width: fit-content;
          }
        }
        .inTabSearchIcon {
          margin-left: auto;
        }
      }
    }
  }
}

.paginationArea {
  margin-top: 24px;
  margin-bottom: 24px;
  // border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  &__numbers {
    display: flex;
    gap: 6px;
    span,
    .number {
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
      background-color: $white;
      font-size: $font-size-16 - 2px;
      cursor: pointer;
    }
    .numbersGrp {
      display: flex;
      gap: 2px;
      // border: 1px solid #000;
      max-width: 260px;
      overflow-x: auto;
      // padding: 4px 0px;

      &::-webkit-scrollbar {
        height: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }

      .number {
        min-width: 30px;
        scale: 0.8;
        &:hover {
          // border: 1px solid $primary-color;
          box-shadow: 0px 0px 0px 2px rgba(0, 67, 164, 0.5);
        }
      }
    }
    span {
      &:first-child {
        svg {
          rotate: 90deg;
        }
      }
      &:last-child {
        svg {
          rotate: -90deg;
        }
      }
      &:hover {
        background-color: $primary-color;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  &__pageVisibilitySelection {
    background-color: $white;
    position: relative;
    .selected {
      padding: 6px;
      max-height: 100%;
      cursor: pointer;
      white-space: nowrap;
      // background-color: $white;
    }
    .dropdown {
      position: absolute;
      bottom: 32px;
      right: 0;
      opacity: 1;
      background-color: $white;
      display: flex;
      flex-direction: column;
      padding: 4px;
      animation: bumpUp 400ms cubic-bezier(0.91, -0.31, 0.27, 1.55);

      @keyframes bumpUp {
        from {
          bottom: 0;
          opacity: 0;
        }
      }
      span {
        padding: 6px 12px;
        white-space: nowrap;
        font-size: $font-size-16 - 2px;
        width: 100px;
        cursor: pointer;
        &:hover {
          background-color: $grey-bg;
          color: $primary-color;
        }
      }
    }
  }
}
.paginationAreaNew {
  margin: 24px 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
  button {
    @include small-button();
    border-radius: 0px;
    background-color: $primary-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.infoArea {
  // padding-bottom: 48px;
  .tableLoadingArea {
    // border: 1px solid #000;
    width: 100%;
    height: 200px;
    min-height: 200px;
    display: grid;
    place-items: center;
    position: relative;
  }
  .tableErrorMsg {
    height: 60px;
    display: grid;
    place-items: center;
    font-size: $font-size-16 - 2px;
    color: $failed-color;
    background-color: $white;
    font-style: italic;
  }
}

.orderTag {
  @include tagStyle();
}

.initializedTag {
  @include tagStyle();
  background-color: lighten($color: $primary-color, $amount: 65%);
  border: 1px solid rgba($primary-color, 0.8);
}

.completedTag {
  @include tagStyle();
  background-color: lighten($color: $success-color, $amount: 55%);
  border: 1px solid rgba($success-color, 0.8);
  color: $success-color;
}

.failedTag {
  @include tagStyle();
  background-color: lighten($color: $failed-color, $amount: 50%);
  border: 1px solid rgba($failed-color, 0.8);
  color: $failed-color;
}

.leftSidebarContainer {
  width: 100%;
  height: 100%;
  // height: calc(100vh - 48px);
  position: fixed;
  left: 0;
  bottom: 0;
  // top: 0;
  z-index: 300;

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    // background-color: rgba(#000, 0.5);
    background: rgba(21, 21, 21, 0.2);
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  .container {
    background-color: $white;
    width: 35%;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 4;
    @include tablet {
      width: auto;
    }
  }

  animation: slideLeft 640ms cubic-bezier(0.86, 0, 0.07, 1);
  // animation: slideLeft 640ms cubic-bezier(0.65, -0.07, 0.25, 1.24);
}

.leftSidebarContainerClosed {
  @extend .leftSidebarContainer;
  left: -100%;
  opacity: 0;

  animation: slideLeftOut 640ms cubic-bezier(0.86, 0, 0.07, 1);
}

.rightSidebarContainer {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  // height: calc(100vh - 48px);
  position: fixed;
  left: 0;
  bottom: 0;
  // top: 0;
  z-index: 3;
  // border: 10px solid #fff;
  @include tablet {
    z-index: 120;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  .container {
    background-color: $white;
    width: 80%;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    animation: slideRight 640ms cubic-bezier(0.86, 0, 0.07, 1);
    @include tablet {
      width: 100%;
      z-index: 120;
    }
  }
}

@mixin inactiveBtn {
  background-color: #cecece;
  cursor: not-allowed;
}

// Custom checkbox style ================
.checkerContainer {
  // position: relative;

  .checker {
    width: 18px;
    height: 18px;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    display: grid;
    place-items: center;
  }
  svg {
    height: 8px;
    opacity: 0;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

    &:checked ~ .checker {
      background-color: $secondary-color;
      border: none;
      svg {
        opacity: 1;
        path {
          fill: $white;
        }
      }
    }
  }
}

.radioBoxContainer {

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .indicator {
    width: 18px;
    height: 18px;
    display: block;
    border: 1.5px solid #bbbbbb;
    border-radius: 100%;
    position: relative;
    &::after {
      position: absolute;
      width: 75%;
      height: 75%;
      border-radius: 100%;
      background-color: $primary-color;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  & > input:checked ~ .indicator {
    border-color: $primary-color;
    &::after {
      opacity: 1;
    }
  }
}

@mixin tabSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid $input-field;
  span {
    font-size: $font-size-16 - 4px;
    color: rgba($color: $dark-grey, $alpha: 0.5);
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $grey;
      content: "";
      bottom: 0px;
      left: 0px;
      opacity: 0;
      transition: ease all 300ms;
    }
  }
  .activeTab {
    font-weight: $fontWeight-600;
    color: $secondary-color;
    &::after {
      bottom: -8px;
      background-color: $secondary-color;
      opacity: 1;
    }
  }
}

.bodyNoScroll {
  position: fixed;
  width: 100%;
}
.bodyScroll {
  position: relative;
  width: auto;
}

@mixin inputStyle {
  background-color: $grey;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
  color: $dark-grey;
  font-size: $font-size-16 - 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  &::placeholder {
      color: $text-grey;
  }
}

@mixin dropdownOptionContainer {
  position: absolute;
  top: 120%;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: $white;
  width: 100%;
  border-radius: 10px;
  padding: 4px;
  min-width: 100px;
  span {
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
      font-size: $font-size-16 - 4px;
      &:hover {
          background-color: $grey;
      }
  }
}

