@import "./reuseables";
@import "./variables.scss";

.aboutUs {
  @include sectionPadding();
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__top {
    display: flex;
    gap: 3rem;
  }

  &__left {
    width: 100%;
    position: relative;
    
    .starImage {
      position: absolute;
      border-radius: 50%;
      top: 40%;
      right: -4%;
      height: 80px;
      width: 80px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    .section__title {
      color: $primary-color;
    }

    h3 {
      color: $secondary-color;
      font-size: $font-size-24;
      font-weight: $fontWeight-700;

      p {
        color: blue;
        line-height: 30.84px;
      }
    }
  }

  &__buttom {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    p {
      font-size: 1rem;
      color: $white;
    }
  }
}
