/* @import "../styles/_reuseables.scss";
@import "../styles/variables.scss"; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* ::-webkit-scrollbar-track {
  background: #d0222c;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: #D0222Cs;
} */
